<!DOCTYPE html>
<html  lang="ro">
    <head>
		<%- include("../fragmente/head") %>
    </head>

    <%- include("../fragmente/header") %>

    <body>

    <main>
        
        <section>
            <h2>404 - page not found</h2>
            <p>Aceasta pagina inca nu exista</p>
        </section>

    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>