<footer>
			
    <hr>

    <section id="Contact">
        <h4>Contact</h4>

        <address>
            Tel: <a href="tel:+40770111222">+40770111222</a><br>
            Email: <a href="mailto:pb.examen@gmail.com">pb.examen@gmail.com</a><br>
        </address> 

        <br>
        <small>Copyright &#169; 2021 by Enache Alexandru</small>
    </section>

    Pagina a fost creata pe data de <time datetime="2021-06-27 12:00">27.06.2021</time>.
    
</footer>