<meta name="author" content="Alexandru Enache">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Examen.">
<meta name="description" content="Examen.">
<title>Examen</title> 

<script src="https://kit.fontawesome.com/9640256e00.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono">
<link rel="stylesheet" href="/resurse/css/colorScheme.css" type="text/css">

<link href="/resurse/css/index.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/resurse/css/index-1400.css" type="text/css" media="screen and (max-width:1400px)" />
<link rel="stylesheet" href="/resurse/css/index-600.css" type="text/css" media="screen and (max-width:600px)" />

<link rel="stylesheet" href="/resurse/css/reviste.css" type="text/css" />
